pkgbase = coolerdash
	pkgdesc = Plug-in for CoolerControl that extends the LCD functionality with additional features
	pkgver = 3.3.2
	pkgrel = 1
	url = https://github.com/damachine/coolerdash
	install = coolerdash.install
	arch = x86_64
	license = MIT
	depends = cairo
	depends = coolercontrold
	depends = curl
	depends = gdk-pixbuf2
	depends = glibc
	depends = jansson
	depends = ttf-roboto
	provides = coolerdash-git
	conflicts = coolerdash-git
	replaces = coolerdash-git
	backup = var/lib/coolercontrol/plugins/coolerdash/config.json

pkgname = coolerdash
