[Unit]
Description=CoolerDash daemon
Documentation=man:coolerdash(1)
After=coolercontrold.service
Requires=coolercontrold.service

[Service]
Type=simple
User=coolerdash
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/coolerdash
PIDFile=/tmp/coolerdash.pid
RuntimeDirectory=coolerdash
ReadWritePaths=/tmp /opt/coolerdash
ProtectSystem=full
Restart=always
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
