# -----------------------------------------------------------------------------
# Created by: damachine (damachine3 at proton dot me)
# Website: https://github.com/damachine/coolerdash
# -----------------------------------------------------------------------------
# This service file is deprecated and will be removed in future releases.
# If you are using CoolerControl <=3.1.0 with CoolerDash, please continue using this file.
# For CoolerControl >=3.1.0, please let this disabled and use the new CoolerControl plugin service.
# -----------------------------------------------------------------------------

[Unit]
Description=CoolerDash daemon
Documentation=man:coolerdash(1)
After=coolercontrold.service
Requires=coolercontrold.service

[Service]
Type=simple
User=coolerdash
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/coolerdash
PIDFile=/tmp/coolerdash.pid
RuntimeDirectory=coolerdash
ReadWritePaths=/tmp /opt/coolerdash
ProtectSystem=full
Restart=always
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
