[Unit]
Description=CoolerDash helper daemon
BindsTo=coolercontrold.service
PartOf=coolercontrold.service
After=coolercontrold.service

[Service]
Type=simple
ExecStart=/bin/sleep infinity
ExecStop=/usr/libexec/coolerdash/coolerdash --shutdown
TimeoutStopSec=3
Restart=no

[Install]
WantedBy=multi-user.target
